:root{
  --white: #ffffff;
  --black: #000000;
  --grey: #5c5c5c;
  --font-medium: 1.6rem;
}

.about {
  color: var(--black);
}

.about img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.about p {
  font-size: var(--font-medium);
  text-align: center;
  padding: 5%;
  margin: 2%;
}
