:root {
  --white: #ffffff;
  --black: #000000;
  --grey: #5c5c5c;
  --font-medium: 1.6rem;
}

.projects {
  color: var(--black);
  border: 1px solid var(--black);
  border-radius: 5px;
  box-shadow: 5px 5px 5px var(--grey);
  padding: 20px;
  margin-left: 5%;
  text-align: center;
  width: 30vh;
  /* height: 20vh; */
  display: inline-block;
  font-family: "Roboto";
}

.projects h2 {
  color: var(--black);
}