:root{
    --white: #ffffff;
    --black: #000000;
    --grey: #5c5c5c;
}

.projects {
    border: 1px solid var(--black);
    border-radius: 5px;
    box-shadow: 5px 5px 5px var(--grey);
    padding: 20px;
    margin: 10px;
    text-align: center;
    max-width: 33%;
    display: inline-block;
}